/* Some CSS styling */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 5%
}

#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#predict_button, #clear_button {
  margin: 1rem;
  padding: 0.5rem;
}

#confidence{
  margin-top: 7.5%;
}

#content{
  margin: 0 auto;
  padding: 2% 15%;
  padding-bottom: 0;
}

#footer{
  height: 20px;
  text-align: center;
  padding: 1%;
}

#result{
  font-size: 5rem;
}

#sketchpad {
    height:250px;
    width:250px;
    border-radius:10px;
}

#source{
  padding: 0 100px;
  text-align: center;
  margin-bottom: 10%;
}

#title{
  padding: 1.5% 15%;
  margin: 0 auto;
  text-align: center;
}

.btn {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    border: 1px solid #888;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons_div{
  margin-bottom: 30px;
}

.heading{
  font-weight: 700;
  font-size: 3rem;
  display: inline;
}

.row{
  margin-left: 10%;
  margin-right: 10%;
}

.canvas{
  text-align: center;
  margin: 0 auto;
  margin-top: 4%;
  width: 50%;
}


.predicted_answer{
  text-align: center;
  margin-top: 4%;
  width: 50%;
}

.responsive_img{
  width: 75%;
    height: 10vw;
    object-fit: cover;
}

.social-media-icons{
  margin: 10px 40px;
}

.source-column{
  padding: 3% 2%;
}

.source-h2{
  text-align: center;
  font-size: 2rem;
}

hr {
  border: dotted #808080 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
  margin-bottom: 100px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}
p{
  margin-top: 1%;
}

@media (min-width: 720px) {
  .leftside{
    padding-left: 10%;
  }
}